<h1>Animali</h1>
<div *ngFor="let animale of lista">
<p>{{animale.info()}}</p>
</div>
<h1>Utenti</h1>
<div *ngFor="let utente of utenti">
  <p>{{utente.info()}}</p>
</div>
<h1>Auto</h1>
<div *ngFor="let auto of automobili">
  <p>{{auto.info()}}</p>
</div>
<h1>Apparecchi</h1>
<div *ngFor="let apparecchio of apparecchi">
  <p>{{apparecchio.infoApparecchio()}}</p>
</div>

<h1>Impiegati</h1>
<div *ngFor="let impiegato of impiegati">
  <p>{{impiegato.infoImpiegato()}}</p>
</div>
<h1>Aziende</h1>
<div *ngFor="let azienda of aziende">
  <p>{{azienda.infoAzienda()}}</p>
</div>
<h1>Giocatori</h1>
<div *ngFor="let giocatore of giocatori">
  <p>{{giocatore.infoGiocatore()}}</p>
</div>
<h1>Squadra</h1>
<div *ngFor="let squadra of squadre">
  <p>{{squadra.infoSquadra()}}</p>
</div>